body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    background-color: lightcoral;
    color: white;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
img{
    width:400px;
    height: auto;
}