body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(202, 73, 13);
}
h1{
    text-align: center;
    background-color: lightcoral;
    color: rgb(250, 241, 241);
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
img{
    width:400px;
    height: auto;
}